@page "/recentlysharedwithme"

@using Microsoft.Identity.Web
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler



@if (RecentSharedWithMe == null)
{
    <p><em>Loading...</em></p>
}
else
{


    if (RecentSharedWithMe.Count < 1)
    {
        <b>Sorry you do not have any data to show</b>
    }
    else
    {
        <MudSimpleTable>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Shared By</th>
                    <th>Shared</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in RecentSharedWithMe.CurrentPage)
                {
                    <tr>
                        <td>@a.ResourceVisualization.Title</td>
                        <td>@a.ResourceVisualization.Type</td>
                        <td>@a.LastShared.SharedBy.DisplayName</td>
                        <td>@a.LastShared.SharedDateTime</td>
                        <td><MudLink Href="@a.ResourceReference.WebUrl" Target="_blank" Underline="Underline.Always">Open notebook</MudLink></td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    }
}
@if (Errored)
{
    <b>Sorry :( the app errored: @ErrorText</b>
}
@code {
    IOfficeGraphInsightsSharedCollectionPage RecentSharedWithMe;
    bool Errored = false;
    string ErrorText = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            //user = await GraphServiceClient.Me.Request().GetAsync();
            RecentSharedWithMe = await GraphServiceClient.Me.Insights.Shared.Request().Top(10).GetAsync();
        }
        catch (Exception ex)
        {
            Errored = true;
            ErrorText = ex.Message;
        }
    }
}
