@page "/recentlysharedwithme"

@using Microsoft.Identity.Web
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler



@if (RecentSharedWithMe == null)
{
    <p><em>Loading...</em></p>
}
else
{


    if (RecentSharedWithMe.Count < 1)
    {
        <b>Sorry you do not have any data to show</b>
    }
    else
    {
        <table class="table table-striped table-condensed" style="font-family: monospace">
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Shared By</th>
                <th>Shared</th>
                <th>URL</th>
            </tr>
            @foreach (var a in RecentSharedWithMe.CurrentPage)
            {
                <tr>
                    <td>@a.ResourceVisualization.Title</td>
                    <td>@a.ResourceVisualization.Type</td>
                    <td>@a.LastShared.SharedBy.DisplayName</td>
                    <td>@a.LastShared.SharedDateTime</td>
                    <td><link href="@a.ResourceReference.WebUrl" target="_blank" title="open me" /></td>
                </tr>
            }
        </table>
    }
}
@if (Errored)
{
    <b>Sorry :( the app errored: @ErrorText</b>
}
@code {
    IOfficeGraphInsightsSharedCollectionPage RecentSharedWithMe;
    bool Errored = false;
    string ErrorText = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            //user = await GraphServiceClient.Me.Request().GetAsync();
            RecentSharedWithMe = await GraphServiceClient.Me.Insights.Shared.Request().Top(10).GetAsync();
        }
        catch (Exception ex)
        {
            Errored = true;
            ErrorText = ex.Message;
        }
    }
}
