@page "/viewedandmodified"

@using Microsoft.Identity.Web
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler



@if (RecentViewedModifiedItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (RecentViewedModifiedItems.Count < 1)
    {
        <b>Sorry you do not have any data to show</b>
    }
    else
    {
        <MudSimpleTable>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Last Modified</th>
                    <th>Last Accessed</th>
                    <th>Link to Resource</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in RecentViewedModifiedItems.CurrentPage)
                {
                    <tr>
                        <td>@a.ResourceVisualization.Title</td>
                        <td>@a.ResourceVisualization.Type</td>
                        <td>@a.LastUsed.LastModifiedDateTime</td>
                        <td>@a.LastUsed.LastAccessedDateTime</td>
                        <td><MudLink Href="@a.ResourceReference.WebUrl" Target="_blank" Underline="Underline.Always">Open item</MudLink></td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    }
}
@if (Errored)
{
    <b>Sorry :( the app errored: @ErrorText</b>
}
@code {
    IOfficeGraphInsightsUsedCollectionPage RecentViewedModifiedItems;
    bool Errored = false;
    string ErrorText = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            RecentViewedModifiedItems = await GraphServiceClient.Me.Insights.Used.Request().Top(20).GetAsync();
        }
        catch (Exception ex)
        {
            Errored = true;
            ErrorText = ex.Message;
        }
    }
}
